@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;
  --grey-backgroud-color: #f5f4fa;
}

body {
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /*31px*/
  letter-spacing: 0.03em;
}

.logo__span {
  color: #2196f3;
}

.link {
  text-decoration: none;
  color: inherit;
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /*16px*/
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 254px;
  margin-left: 93px;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.navigation__item {
  list-style: none;
}

.navigation__item:hover,
.navigation__item:focus,
.navigation__item:active {
  color: #2196f3;
}

.nav-contact {
  color: var(--secondary-color);
  display: flex;
  margin-left: auto;
}

.nav-contact__item:focus,
.nav-contact__item:hover,
.nav-contact__item:active {
  color: #2196f3;
}

.nav-contact__item {
  display: flex;
  list-style: none;
  padding-left: 50px;
  padding-right: 0;
}

.section {
  padding: 94px 0;
}

.hero-section {
  background-color: var(--dark-background-color);
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section__headline {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36; /*60px*/
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 900;
  padding-top: 106px;
  margin-bottom: 30px;
}

.hero-section__button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; /*30px*/
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 106px;
  padding: 10px 41px 10px 42px;
}

.our-assets {
  display: flex;
}

.asset {
  list-style: none;
}

.asset__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; /*16px*/
  letter-spacing: 0.03em;
}

.asset__text {
  font-size: 14px;
  line-height: 1.71; /*24px*/
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.services {
  padding-top: 94px;
}
.services-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17; /*42px*/
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.gallery {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.our-team {
  background-color: var(--grey-backgroud-color);
}

.our-team-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17; /*42px*/
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.team-cards {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__description {
  padding: 30px 0;
}

.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19; /*19px*/
  text-align: center;
  letter-spacing: 0.03em;
}

.card__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19; /*19px*/
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-top: 10px;
}

.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /*31px*/
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-logo__span {
  color: #2196f3;
}

.footer-contact {
  padding-bottom: 60px;
}

.footer-contact__item {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71; /*24px*/
  letter-spacing: 0.03em;
  font-style: normal;
  list-style: none;
}

.footer-contact__item + .footer-contact__item {
  margin-top: 9px;
}

.address {
  color: #ffffff;
  font-style: normal;
}

/* Portfolio styles */

.filters {
  list-style: none;
  display: flex;
  justify-content: center;
}

.filters__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; /*26px*/
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}

.filters__item:not(:last-child) {
  margin-right: 12px;
}

.filters__button:active,
.filters__button:hover,
.filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  list-style: none;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
  margin-block-start: 0;
}

.project__textbox {
  padding: 20px 24px;
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2; /*36px*/
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.project__description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875; /*30px*/
  letter-spacing: 0.03em;
}
